.about {
   min-height: 60vh;
   padding: 2rem;

   h2 {
      text-align: center;
      letter-spacing: 0.2rem;
      font-size: 2em;
   }

   &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;

      p {
         text-align: justify;
         max-width: 48rem;
      }

      &__image {
         border: 0.2rem solid #252422;
         height: 18rem;
         width: 18rem;
         margin: 1rem;
         border-radius: 50%;
         background-image: url(../../assets/photo.jpg);
         background-size: 18rem;
      }
   }
}
