.card {
   display: flex;
   flex-flow: column wrap;
   align-items: center;
   height: 24rem;
   width: 16rem;
   justify-content: space-between;
   padding: 1rem;
   margin: 1rem;
   cursor: pointer;
   border: solid 1px black;

   h3 {
      text-align: center;
      letter-spacing: 0.2rem;
      font-size: 0.8em;
      margin-bottom: 0.3rem;
   }

   img {
      height: 12rem;
   }

   span {
      margin: 0.3rem 0;
   }

   svg {
      font-size: 2rem;
      cursor: pointer;
   }
}
