.load {
   display: flex;
   flex-direction: column;
   align-content: center;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100vw;

   &__image {
      height: 200px;
      animation: roller 3s alternate-reverse infinite;
   }

   &__text {
      letter-spacing: 0.2em;
      font-size: 1.5em;
   }
}

@keyframes roller {
   //    0% {
   //       transform: rotate(0deg);
   //    }
   //    25% {
   //       transform: rotate((90deg));
   //    }
   //    50% {
   //       transform: rotate(180deg);
   //    }
   //    75% {
   //       transform: rotate(270deg);
   //    }
   100% {
      transform: rotate(360deg);
   }
}
