.signup {
   display: flex;
   flex-direction: column;
   min-height: 60vh;
   align-items: center;
   justify-content: space-evenly;
   padding: 1rem;

   h2 {
      font-size: 1.5em;
      letter-spacing: 0.2rem;
      margin-bottom: 1rem;
   }

   form {
      border-top: 0.1rem solid #643173;
      border-bottom: 0.1rem solid #643173;
      border-radius: 8px;
      padding: 2rem;
      text-align: center;
   }
}
