.signup {
   display: flex;
   flex-direction: column;
   height: 60vh;
   align-items: center;
   justify-content: space-evenly;

   h2 {
      font-size: 1.5em;
      letter-spacing: 0.2rem;
   }
}
